<%= form_with model: [ @directory, Directory.new ], url: directories_path do |form| %>

<div class="mb-3">
    </br>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Photos" %>
    <% if @directory_parent %>
    <%= form.hidden_field :parent_id, value: @directory_parent.id %>
    <% end %>
</div>
<div class="mb-3">
    <%= form.submit %>
</div>

<% end %>

<ul>
    <% if @directory_parent %>
    <% directories=@directory_parent.children %>
    <% else %>
    <% directories=Directory.where(user_id: session[:user_id], parent_id: nil) %>
    <% end %> 
    <% directories.each do |directory| %>
    <li>

        <%= link_to directory.name, directory %>

    </li>
    <% end %>
</ul>
